.plugin_accesstoken {
    list-style: none;
}

#share-btn img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

#share-btn i {
    font-size: 18px;
    color: #0078D7;
}

#share-btn:hover i {
    color: #005A9E;
}
